<div class="list-info" *ngFor="let course of arrCourses">
    <div class="list-header">
        <div class="title">
            <h3>{{course.courseTitle  | uppercase }}</h3>
        </div>
        <div class="time">
            <div class="date"><fa-icon [icon]="faClock"></fa-icon><span>{{course.date}}</span></div>
            <div class="duration"><fa-icon [icon]="faCalendarAlt"></fa-icon><span>{{course.duration}}</span></div>
        </div>
    </div>
    <div class="course-info">
        <div class="list-text">
            <span>{{course.courseText}}</span>
        </div>
        <div class="list-buttons">
            <button type="button" class="btn btn-color" (click)="editCourse()">
                <fa-icon [icon]="faPenAlt"></fa-icon> Edit
            </button>
            <button type="button" class="btn btn-color" (click)="deleteCourse()">
                <fa-icon [icon]="faTrashAlt"></fa-icon> Delete
            </button>
        </div>
    </div>
</div>