<div class="listInfo" *ngFor="let course of arrCourses">

    <div class="listHeader">
        <div class="title"><h3>{{course.courseTitle}}</h3></div>
        <div class="date"><span>{{course.date |  date:'MMM d, y'}}</span></div>
    </div>
    <div class="courseInfo">
        <div class="listText"><span>{{course.courseText}}</span></div>
        <div class="listButtons">
            <button type="button" class="btn btnColor"><fa-icon [icon]="faPenAlt"></fa-icon>  Edit</button>
            <button type="button" class="btn btnColor"><fa-icon [icon]="faTrashAlt"></fa-icon>  Delete</button>
        </div>
    </div>
</div>



