.listInfo{
    width: 75%;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    padding:10px 20px;
    margin: 0 auto 10px;
}
.courseInfo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.listText{
    width: 70%;
    height: 100%;
}
.listButtons{
    width: 20%;
    height: 100%;
}
.btnColor{
    background-color: rgb(3, 130, 248);
    color:white;
    margin: 10px;
}



// ng add @fortawesome/angular-fontawesome@<0.9.x>