.footer{
    width: 100wv;
    height: 5vh;
    background-color: black;
    display: flex;
    justify-content: end;
    // justify-content: end;
}
.footer span{
    color: white;
    margin-right: 20px;
}