.header{
    width: 100wv;
    height: 5vh;
    background-color: black;
    display: flex;
    justify-content: flex-end;
   
}
.headerBlock{
    width: 87.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.videoCourse{
    color: white;
    width: 300px;
}
.videoCourse :nth-child(2){
    margin-left: 10px;
    font-weight: bold;
}

.log{
    display: flex;
}
.logButton :nth-child(1){
    width: 120px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
.logButton :nth-child(1):hover{
    cursor: pointer;
}
.logButton :nth-child(2){
    margin-left: 5px;
}