<header class="header">
    <div class="headerBlock">
        <div class="videoCourse">
            <fa-icon size="lg" [icon]="faPlayCircle"></fa-icon>
            <span>VIDEO COURSE</span>
        </div>
        <div class="log">
            <div class="logButton">
               <button><fa-icon [icon]="faUserAlt"></fa-icon><span>User login</span> </button> 
              </div>
              <div class="logButton">
                  <button><fa-icon [icon]="faSignInAlt" ></fa-icon><span>Log off</span> </button> 
              </div>
        </div>
    </div>
    
    
  
    
    
  
</header>
