.main {
    width: 100wv;
    height: 90vh;
    background-color: rgb(224, 216, 216);
}
.load-more{
    width: 75%;
    height: 7%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

