.search {
    width: 75%;
    height: 10%;
    margin: 0 auto;
    padding-top: 20px;
}
.addCourseBtn {
    width: 75%;
    height: 7%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
}