<div class="search">
    <form class="row">
        <div class="col">
            <input [(ngModel)]="search" name="search" type="search " class="form-control" placeholder="Text to search">
        </div>
        <div class="col">
            <button (click)="searchBtn()" type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<div class="add-course-btn">
    <div>
        <button type="button" class="btn  btn-primary"><fa-icon [icon]="faPlus"></fa-icon>  Add course</button>
    </div>
</div>
